$Roboto-font: 'Roboto', sans-serif;
$Slab-font: 'Roboto Slab', sans-serif;

$nav-btn-color: #dd4b2b;
$white: #fff;
$nav-link-color: #31353e;
$btn-dark-red: #612316;
$btn-purple: #4b4e73;
$h2-gray: #31353e;
$input-border: #c5c6c5;

$our-news-back: #edeff1;
$top-footer: #d75d0e;

